.tariffs__header {
  width: 320px;
  margin: 17px auto 0;

  font-size: 27px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #FFFFFF;

  @media (min-width: 768px) {
    width: 600px;
  }
}

.tariffs__list {
  margin-top: 23px;
  padding: 16px 19px 0;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    width: 694px;
    padding: 16px 3.7% 0;
    margin: 23px auto 0;
  }
}

.tariff {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;

  min-width: 282px;
  height: 132px;
  margin-bottom: 24px;

  background-color: #1B212A;
  border-radius: 4px;

  &--active::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(91.33deg, #89A3FF 0%, #FF6060 54.17%, #FFBF00 100%);
    border-radius: 4px;
    z-index: -1;
  }

  @media (min-width: 768px) {
    width: 337px;
  }
}

.tariff__title {
  width: 35%;
  margin-top: 56px;
  padding-left: 9.7%;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 22px;
  line-height: 25px;

  color: #FFFFFF;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.tariff__price {
  width: 35%;
  margin-top: 55px;
  margin-left: 0;
  padding-right: 10.1%;
  margin-bottom: 0;

  font-size: 22px;
  line-height: 32px;
  text-align: right;

  color: #89A3FF;

  &--yellow {
    color: #EFDD36;
  }
}

.tariff__description {
  min-width: 150px;
  margin-left: 9%;
  margin-top: 0;

  font-size: 12px;
  line-height: 18px;

  color: #FFFFFF;
  opacity: 0.5;

  &--active {
    opacity: 1;
  }
}

.tariff__prev-price {
  margin-top: 0;
  margin-left: auto;
  margin-right: 9.7%;
  margin-bottom: 0;
  min-width: 60px;

  font-size: 16px;
  line-height: 25px;

  text-align: right;
  text-decoration-line: line-through;

  color: #C0C3CD;
  opacity: 0.5;
}

.tariff__discount {
  position: absolute;

  box-sizing: border-box;
  width: 98px;
  height: 38px;
  left: 28px;
  top: -25px;
  padding-top: 8px;

  background-color: #89A3FF;
  border-radius: 0 5px 5px 5px;

  font-size: 19px;
  line-height: 32px;

  text-align: center;
  color: #FFFFFF;

  &::before {
    content: "";
    position: absolute;

    left: -6px;
    top: 0;

    opacity: 0.4;
    border: 3px solid transparent;
    border-right: 3px solid #89A3FF;
    border-bottom: 3px solid #89A3FF;
  }

  &--yellow {
    color: #151A22;
    background-color: #EFDD36;

    &::before {
      border: 3px solid transparent;
      border-right: 3px solid #EFDD36;
      border-bottom: 3px solid #EFDD36;
    }
  }
}

.tariffs__description {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;

  color: #FFFFFF;
  opacity: 0.5;
}

.tariff-plans__header {
  margin-top: 46px;

  font-size: 22px;
  line-height: 25px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;
}

.tariff-plans__subheaders {
  display: flex;
  justify-content: space-between;

  padding: 11px 3.7%;

  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.02em;

  color: #FFFFFF;
}

.tariff-plans__subheader {
  position: relative;
  width: 57.5%;
  height: 41px;

  margin-bottom: 0;

  &--free {
    width: 16.75%;

    text-align: center;
  }

  &--pro {
    width: 16.75%;

    text-align: center;

    background: linear-gradient(91.33deg, #89A3FF 0%, #FF6060 54.17%, #FFBF00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &::before {
    position: absolute;

    content: "";

    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #FFFFFF;
    opacity: 0.7;
  }

  &--pro::before {
    height: 4px;
    bottom: -1px;
    left: -1px;

    background: linear-gradient(91.33deg, #89A3FF 0%, #FF6060 54.17%, #FFBF00 100%);
  }
}

.table__header {
  margin-top: 24px;

  font-family: 'Steinbeck', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;

  text-align: center;
  letter-spacing: 0.02em;

  mix-blend-mode: normal;
  text-shadow: 0px 13.2985px 26.5969px rgba(255, 0, 63, 0.2);
  background: linear-gradient(91.33deg, #89A3FF 0%, #FF6060 54.17%, #FFBF00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &--large {
    margin-top: 77px;
    margin-bottom: 28px;

    font-size: 22px;
    line-height: 25px;
  }
}

.table__item {
  position: relative;
  display: flex;
  justify-content: space-between;

  padding: 3px 3.7% 2px;

  &::before {
    position: absolute;
    content: "";

    bottom: 0;
    left: 3.7%;
    right: 3.7%;
    height: 1px;

    background-color: #FFFFFF;
    opacity: 0.2;
  }

  &:nth-child(2) {
    margin-bottom: 17px;
    padding: 1px 3.7% 2px;
  }

  &:nth-child(3) {
    padding: 5px 3.7% 2px;
  }

  &:nth-child(4) {
    padding: 6px 3.7% 2px;
  }

  &:last-child {
    margin-top: 26px;
    padding: 0 3.7% 2px;

    &::before {
      background-color: transparent;
    }
  }

  &--second {
    &:nth-child(2) {
      padding-top: 41px;
      margin-bottom: 0;
    }

    &:nth-child(3) {
      padding-top: 1px;
      margin-bottom: 20px;
    }

    &:nth-child(4) {
      padding-top: 1px;
      margin-bottom: 18px;
    }

    &:last-child {
      padding-top: 0;
      margin-top: 0;
    }
  }
}

.table__text {
  width: 57%;

  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: #FFFFFF;
}

.table__check {
  position: relative;
  width: 16.7%;

  &::before {
    position: absolute;
    content: "";

    width: 20px;
    height: 1px;
    left: 34%;
    top: 0;
    bottom: 0;
    margin: auto;

    background: #FFFFFF;
  }

  &--checked::before {
    width: 16px;
    height: 8px;
    left: 34%;
    top: -7px;

    background: transparent;
    border: 1px solid transparent;
    border-left: 1px solid #52B692;
    border-bottom: 1px solid #52B692;
    transform: rotate(-45deg);
  }
}

.tariff-plans__button {
  margin-bottom: 27px;
  padding-top: 7px;

  max-width: 343px;

  &--upgrade {
    margin-top: 85px;
  }

  &--free {
    font-family: 'Montserrat', 'Tahoma', sans-serif;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 0.02em;

    background: none;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: none;
  }
}
