.footer {
  margin-top: 94px;

  @media (min-width: 1190px) {
    position: relative;
    display: flex;
    box-sizing: border-box;

    width: 1064px;
    margin: 130px auto 0;
    padding: 0 13px;
  }
}

.footer__apps {
  @media (min-width: 1190px) {
    display: flex;
    height: 119px;
    margin-top: 16px;
    margin-left: 43px;
  }
}

.apps__header {
  text-align: center;
  color: #FFFFFF;

  opacity: 0.7;

  @media (min-width: 1190px) {
    width: 167px;
    margin-right: 5px;
  }
}

.apps__list {
  display: flex;
  justify-content: space-between;

  width: 84px;
  margin: 0 auto;

  @media (min-width: 1190px) {
    margin-top: 2px;
  }
}

.apps__image {
  &--apple {
    margin-top: 4px;
  }

  &--google {
    margin-top: 7px;
  }

  &:hover {
    filter: drop-shadow(0 2px 5px #52B692);
  }

  &:active {
    filter: drop-shadow(0 2px 5px #FFBF00);
  }
}

.footer__links {
  position: relative;
  display: flex;
  justify-content: space-between;

  width: 247.5px;
  margin: 49px auto 0;

  &::before {
    position: absolute;

    content: "|";
    top: 0;
    left: 47.5%;

    color: #FFFFFF;
    opacity: 0.5;
  }

  @media (min-width: 1190px) {
    margin-top: 32px;
    margin-left: 313px;
    margin-right: 0;
  }
}

.footer__link {
  color: #FFFFFF;
  opacity: 0.5;
}

.footer__social-links {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 31px auto 126px;

  @media (min-width: 1190px) {
    position: absolute;
    top: -2px;
    right: -31px;
    margin-bottom: 0;
  }
}

.footer__social-link {
  opacity: 0.4;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
    filter: drop-shadow(0 2px 5px #52B692);
  }
}
